<section>
    <h2>Our Process</h2>
    <div class="main">
        <div class="circle">
            <div class="circle1">
                <p>Your Need</p>
                <p>Search the Service You need</p>
            </div>
        </div>
        <div class="circle">
            <div class="circle1">
                <p>Your Need</p>
                <p>Search the Service You need</p>
            </div>
        </div>
        <div class="circle">
            <div class="circle1">
                <p>Your Need</p>
                <p>Search the Service You need</p>
            </div>
        </div>
        <div class="circle">
            <div class="circle1">
                <p>Your Need</p>
                <p>Search the Service You need</p>
            </div>
        </div>
    </div>
    <p class="mob">Want to know more? It’s as easy.. Call Us on (00) 1234567890</p>
   
</section>