.checks{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    width: 1300px;
    height: 150px;
   
   
}
.secned{
    color: white;
    font-size: 35px;
    font-weight: 600;
    padding-top: 120px;
    
}
.interp{
    color:white;
    font-size: 25px;
    padding-top: 50px;
}
.firstpair{
    margin:0 !important;
}
section{
    background: rgb(0,120,120);
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top:100px;
}
.pair{
    width: 250px;
    margin-left: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.pair label{
    height: auto;
    margin:0;
    padding-left: 15px;
    color:white;
}
.inps{
    width: 1300px;
    height: auto;

}
.btdiv{
    margin-top:70px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 120px;
}
.inps input{
    width: 600px;
    height: 45px;
    margin-top: 25px;
    box-sizing: border-box;
    padding-left: 10px;
    
}
.pair input{
    width: 30px;
    height: 30px;
}

.inps textarea{
    margin-top: 25px;
    width: 100%;
    height: 150px;
    resize: none;
    padding: 12px;
    box-sizing: border-box;
}

.inps{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

button {
    background-color: #066464;
    color: white;
}